BASE_URL=https://api.open-meteo.com/v1/forecast
LATITUDE=34.0258,
LONGITUDE=-118.7804,
HOURLY=temperature_2m,precipitation_probability
TIMEZONE=America/Denver
FORECAST_DAYS=3

DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

DB_SCHEMA=
DB_RAW_DATA_TABLE=
