BASE_URL=https://api.open-meteo.com/v1/forecast
LATITUDE=34.0258,
LONGITUDE=-118.7804,
HOURLY=temperature_2m,precipitation_probability
TIMEZONE=America/Denver
FORECAST_DAYS=3

POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_HOST=db

POSTGRES_SCHEMA=public
POSTGRES_RAW_DATA_TABLE=raw_data

AIRFLOW_PORT=8080
AIRFLOW_USER=airflow_user
AIRFLOW_PASSWORD=airflow_pass
AIRFLOW_DB=airflow_db

METABASE_PORT=3000

MB_SOURCE_URL=http://localhost:${METABASE_PORT}
MB_SOURCE_USERNAME=admin@mail.com
MB_SOURCE_PASSWORD=admin_pass

MB_TARGET_URL=http://localhost:${METABASE_PORT}
MB_TARGET_USERNAME=admin2@mail.com
MB_TARGET_PASSWORD=admin2_pass

MB_METABASE_VERSION=v63
